{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div style='text-align: center;'>
        <h1>프로필 생성</h1>
    </div>

    <form action="{% url 'profileapp:create' id=user.username %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control">
            </div>
        <ul style='width: 500px; margin: 0 auto; padding: 10px 0;'>
            <li style='padding-left: 10px;'>{{ field.label }}</li>
            <li>{{ field }} {{ field.errors }}</li>
        </ul>
        
        {% endfor %}
        <div style='text-align: center;'>
            <input type="submit" class='btn btn-secondary col-2 rounded-pill' value='생성하기'>
        </div>
        
    </form>


{% endblock %}