body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: white;
}

.navbar__logo i{
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar__menu li{
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icon {
    color: white;
    display: flex;
    margin-bottom: 0;
}

.navbar__icon li{
    padding: 8px 12px;
}

.footer {
    background-color: #263343;
    text-align: center;
}

.footer_contents ul{
    color: white;
    padding: 8px 12px;
    display: flex;
}

.footer_contents ul li{
    margin: 0 auto;
}

table.calendar{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    table-layout: fixed;
    border: 1px solid #52E4DC;

}

th.month{
    text-align: center;
    height: 30px;
    background: #52E4DC;
    padding: 30px 0;
    font-size: 20px;
}

th.sun{
    height: 30px;
}

td {
    vertical-align: top;
    padding-left: 20px;
}

th.mon {
    text-align: center;
}

th.tue {
    text-align: center;
}

th.wed {
    text-align: center;
}

th.thu {
    text-align: center;
}

th.fri {
    text-align: center;
}

th.sat {
    text-align: center;
}

th.sun {
    text-align: center;
}


/* table.month{
    width: 700px;
    height: 800px;
    margin: 0 auto;
    table-layout: fixed;
    margin-top: 20px;
}

th.month{
    height: 21px;
    text-align: center;
}

th.sun{
    height: 21px;
} */