{% load static %}
    <div class='footer'>
        <div class="footer_contents">
            <ul>
                <li>이용약관</li> |
                <li>개인정보처리방침</li> |
                <li>프로젝트 소개</li> |
                <li>개발자 소개</li>
            </ul>
        </div>
        <div class='footer_description' style='text-align: center; color:white; font-size: 14px;'>
            <p style='margin-bottom: 0;'>추억저장소 다이어리 서비스는 아주대학교 AI캡스톤디자인2 실습으로 구성된 서비스입니다.</p>
            <p style='padding-bottom: 12px;'>해당 다이어리 서비스는 테스트 과정에 있으며 정식배포되지 않아 가입자 정보에 대한 보호가 불가능합니다.</p>
        </div>
    </div>