{% extends 'nonHeader.html' %}
{% load static %}

{% block content %}
    <div id="background">
        <div class="layer"></div>
        <div class="title">추억 저장소</div>
    </div>
    <div id="login">
        <div class="form_wrapper">
            <div class="title">Login</div>
            <form action="" method='POST' class="login_form">
                {% csrf_token %}
                <div class="login_layout">
                    <div id="username">
                        <ul class="username_layout">
                            <li class="input_label">Username</li>
                            <li>{{ form.username }}</li>
                        </ul>
                        <ul class="password_layout">
                            <li class="input_label">Password</li>
                            <li>{{ form.password }}</li>
                        </ul>
                        <ul class="password_layout">
                            <p>
                            <input type="checkbox" name="auto"/>
                            <label>check me out</label>
                            </p>
                        </ul>
                    </div>
                    <div id="login_btn_section">
                        <ul id="login_btn">
                            <li><input type="submit" value="Submit" class="btn btn-secondary mt-10"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}